<h3>List below (as of 2019-04-15) pulled from: <a href="https://github.com/ligurio/awesome-ttygames" target="_blank">https://github.com/ligurio/awesome-ttygames</a></h3>

<h1>Unix ASCII games</h1>

<h3><a href="http://peyre.x10.mx/GWBASIC/index.htm#AppleTrek">Apple Trek</a></h3>

<p>See also <a href="https://en.wikipedia.org/wiki/Apple_Trek">wikipedia</a>.</p>

<h3><a href="http://artax.karlin.mff.cuni.cz/~brain/0verkill/">0verkill</a></h3>

<p>0verkill is bloody 2D action deathmatch-like game in ASCII-ART.</p>

<h3><a href="http://aburatan.sourceforge.net/">abura tan</a></h3>

<p>A roguelike game of Cowboy Knights and Lurking Horror.</p>

<h3><a href="https://code.google.com/p/ad-astra-game/">ad astra</a></h3>

<p>Ad Astra is a turn-based space strategy game written in Python that uses curses for its display.</p>

<h3><a href="https://oskog97.com/projects/anonymine/">Anonymine</a> <a href="https://asciinema.org/a/82455">Screencast</a></h3>

<p>A curses mode minesweeper solvable without guessing, and the only with von Neumann neighbourhoods.</p>

<p><strong>Play</strong>: <code>ssh play@anonymine-demo.oskog97.com -p 2222</code></p>

<h3><a href="http://aop.raffi.at/">aop</a> <a href="https://asciinema.org/a/34678">Screencast</a></h3>

<p>Ambassador of Pain (aop). A very nice and challenging arcade game.</p>

<h3><a href="https://github.com/bolknote/shellgames/blob/master/arcanoid.sh">arkanoid-bash</a> <a href="https://asciinema.org/a/36415">Screencast</a></h3>

<p>Arkanoid (ã‚¢ãƒ«ã‚«ãƒŽã‚¤ãƒ‰ Arukanoido?) is an arcade game developed by Taito in 1986. Written on Bash.</p>

<p>See also <a href="https://en.wikipedia.org/wiki/Arkanoid">wikipedia</a>.</p>

<h3><a href="http://blog.yjl.im/2015/12/arkanoid-example-from-pygamii-ascii.html">arkanoid.py</a></h3>

<p>Arkanoid (ã‚¢ãƒ«ã‚«ãƒŽã‚¤ãƒ‰ Arukanoido?) is an arcade game developed by Taito in 1986. Written on Python.</p>

<p>See also <a href="https://en.wikipedia.org/wiki/Arkanoid">wikipedia</a>.</p>

<h3><a href="http://sed.sourceforge.net/local/games/arkanoid.sed.html">arkanoid-sed</a></h3>

<p>Arkanoid (ã‚¢ãƒ«ã‚«ãƒŽã‚¤ãƒ‰ Arukanoido?) is an arcade game developed by Taito in 1986. Written on Sed.</p>

<p>See also <a href="https://en.wikipedia.org/wiki/Arkanoid">wikipedia</a>.</p>

<h3><a href="http://alien.chaosforge.org/">alienrl</a></h3>

<p>AliensRL is a tactical roguelike game, inspired by the "Aliens" movie.</p>

<h3><a href="http://www.alessandropira.org/alienwave/aw.html">alienwave</a></h3>

<p>another good variant of the space invaders game.</p>

<h3><a href="http://rephial.org/">angband</a></h3>

<p>Angband is a free, single-player dungeon exploration game.</p>

<h3><a href="http://man.openbsd.org/OpenBSD-current/man6/adventure.6">adventure</a></h3>

<p>An exploration game. It's a BSD game.</p>

<p>See also <a href="https://en.wikipedia.org/wiki/Colossal_Cave_Adventure">wikipedia</a>.</p>

<p><strong>Play</strong>: <code>https://grack.com/demos/adventure/</code></p>

<h3><a href="http://www.adom.de/">ADOM (Ancient Domains of Mystery)</a></h3>

<p>ADOM is a roguelike game which means that it is a single-user game featuring the exploration of a dungeon complex (and in the case of ADOM a few other games of this genre: the exploration of a large wilderness area with villages and many special locations). You control a fictional character described by race, class, attributes, skills, and equipment. This fictional character is trying to achieve a specific goal (see below) and succeed in a difficult quest. To fulfill the quest, you have to explore previously undiscovered tunnels and dungeons, fight hideous monsters, uncover long forgotten secrets, and find treasures of all kind.</p>

<h3><a href="http://man.openbsd.org/arithmetic.6">arithmetic</a></h3>

<p>quiz on simple arithmetic</p>

<h3><a href="http://freecode.com/projects/asciijump">asciijump</a> <a href="https://asciinema.org/a/31340">Screencast</a></h3>

<p>asciijump is an ASCII art game about ski jumping.</p>

<h3><a href="http://cymonsgames.com/asciiportal/">ascii portal</a></h3>

<p>ASCIIpOrtal is a text based puzzle game inspired by the popular video game.</p>

<h3><a href="https://savannah.nongnu.org/projects/astwar">astwar</a></h3>

<p>Astwar is a ncurses based game that features two little ships on each side of the screen shooting each other.</p>

<h3><a href="http://www.asciisector.net/">asciisector</a></h3>

<p>asciisector is a free space combat/exploration/trading game.</p>

<h3><a href="http://man.openbsd.org/OpenBSD-current/man6/atc.6">atc</a></h3>

<p>air traffic controller game. It's a BSD game.</p>

<h3>avanor</h3>

<p>Rogue-like game with easy ADOM-like user interface.</p>

<h3><a href="http://fph.altervista.org/prog/bastet.html">bastet</a></h3>

<p>Bastet (short for Bastard Tetris).</p>

<h3><a href="http://man.openbsd.org/bcd.6">bcd</a></h3>

<p>punched card</p>

<p>See also <a href="https://en.wikipedia.org/wiki/Punched_card">wikipedia</a>.</p>

<h3><a href="http://peteg.org/beasts/other/">beasts</a></h3>

<p>The game Beasts is a Linux version of the old DOS game called Beast.</p>

<p>See also <a href="https://en.wikipedia.org/wiki/Beast_(video_game">wikipedia</a>).</p>

<h3><a href="http://packages.debian.org/ru/sid/i386/games/bombardier">bombardier</a></h3>

<p>This game is the same as the old Blitz16 game on Commodore 16/Plus 4, written by Simon Taylor.</p>

<h3>boulder dash</h3>

<p>A Boulder Dash game clone for your favorite terminal. You are trapped in the CAVEZ of PHEAR, your mission is to escape through all the caves and make it out alive. To escape through a cave you will have to find all the diamonds located in it. Once you've found all the diamonds, their powers combined will help you get to the next cave, one step closer to freedom.</p>

<p>See also <a href="https://en.wikipedia.org/wiki/Boulder_Dash">wikipedia</a>.</p>

<h3><a href="http://www.catb.org/~esr/bs/">battleships</a></h3>

<p>Uses character-cell graphics with a visual point-and-shoot interface.</p>

<h3><a href="http://man.openbsd.org/OpenBSD-current/man6/backgammon.6">backgammon</a></h3>

<p>A backgammon game; you can play against the computer. It's a BSD game.</p>

<p>See also <a href="https://en.wikipedia.org/wiki/Backgammon">wikipedia</a>.</p>

<h3><a href="http://www.wurb.com/if/game/211">beyond the tesseract</a></h3>

<p>A highly conceptual game in which you interact with abstract concepts and mathematical entities as if they were tangible.</p>

<p><strong>Play</strong>: <code>telnet or ssh on sdf.org</code></p>

<h3><a href="http://www.filewatcher.com/m/block-0.6.tgz.20110-0.html">blocks</a></h3>

<p>A block-based puzzle game.</p>

<h3><a href="http://www.catb.org/~esr/bluemoon/">bluemoon</a></h3>

<p>The Blue Moon card solitaire.</p>

<h3><a href="https://sites.google.com/site/broguegame/">brogue</a></h3>

<p>Brogue is a Roguelike game.</p>

<h3><a href="http://sourceforge.net/projects/braincurses/">braincurses</a></h3>

<p>A nice version of the mastermind game.</p>

<h3><a href="http://man.openbsd.org/OpenBSD-current/man6/battlestar.6">battlestar</a></h3>

<p>A tropical adventure game. It's a BSD game.</p>

<h3>bj</h3>

<p>a black-jack card game.</p>

<p><strong>Play</strong>: <code>telnet or ssh on sdf.org</code></p>

<h3><a href="http://man.openbsd.org/OpenBSD-current/man6/boggle.6">boggle</a></h3>

<p>Word search game. It's a BSD game.</p>

<p>See also <a href="https://en.wikipedia.org/wiki/Boggle">wikipedia</a>.</p>

<p><strong>Play</strong>: <code>telnet mud.darkerrealms.org 2000</code></p>

<h3><a href="http://man.openbsd.org/OpenBSD-current/man6/bs.6">bs</a></h3>

<p>Battleships game. It's a BSD game.</p>

<p>See also <a href="https://en.wikipedia.org/wiki/Battleship_%28game%29">wikipedia</a>.</p>

<h3><a href="https://github.com/haliphax/pybowl">bowling</a> <a href="https://asciinema.org/a/41475">Screencast</a></h3>

<p>Python bowling game using the Blessed terminal library.</p>

<h3><a href="http://man.openbsd.org/caesar.6">caesar</a></h3>

<p>decrypt caesar cyphers</p>

<p>See also <a href="https://en.wikipedia.org/wiki/Caesar_cipher">wikipedia</a>.</p>

<h3><a href="None">Caribbean Stud</a></h3>

<p>a multi-player card game, written by Hero</p>

<p><strong>Play</strong>: <code>telnet mud.darkerrealms.org 2000</code></p>

<h3><a href="https://web.archive.org/web/20130212063150/http://whalesdev.com/wiki/index.php?title=Main_Page">cataclysm</a></h3>

<p>A Zombie Survival Roguelike.</p>

<h3><a href="http://man.openbsd.org/OpenBSD-current/man6/canfield.6">canfield</a></h3>

<p>The solitaire card game canfield. It's a BSD game.</p>

<p>See also <a href="https://en.wikipedia.org/wiki/Canfield_%28solitaire%29">wikipedia</a>.</p>

<h3><a href="http://www.mipmip.org/C_games/">chimaera</a></h3>

<p>A highly unusual "infinite" adventure game written by Chris Newall.</p>

<h3>cavez of phear</h3>

<p>cavez of phear is a boulder dash / digger like game for console using ncurses.</p>

<h3><a href="http://www.muppetlabs.com/~breadbox/software/cgames.html">cblocks</a></h3>

<p>a set of sliding-block puzzles.</p>

<h3><a href="https://github.com/troopa/cBattleship">cbattleship</a></h3>

<p>A implementation of the classic Battleship game in C++. Includes a server program, and multiple different client programs. The server program wait's until two client program connected to start a game. The server dictates the rules of the game.</p>

<h3><a href="http://www.level7.org.uk/chroma/">chroma</a></h3>

<p>A challenging puzzle game.</p>

<h3><a href="http://www.muppetlabs.com/~breadbox/software/cgames.html">cmines</a></h3>

<p>minesweeper.</p>

<h3><a href="http://cnibbles.sourceforge.net">cnibbles</a></h3>

<p>Another Nibbles game with good and smooth animations.</p>

<h3><a href="https://github.com/bolknote/SedChess">chess</a></h3>

<p>Chess implemented in sed utility.</p>

<h3><a href="http://en.cataclysmdda.com/">cataclysm: dark days ahead</a></h3>

<p>Cataclysm: Dark Days Ahead is a roguelike set in a post-apocalyptic world. Surviving is difficult: you have been thrown, ill-equipped, into a landscape now riddled with monstrosities of which flesh eating zombies are neither the strangest nor the deadliest.</p>

<h3><a href="http://mbays.sdf.org/ckhet">ckhet</a></h3>

<p>Curses implementation of the laser board game Khet.</p>

<p><strong>Play</strong>: <code>ssh ckhet@sshgames.thegonz.net; password: ckhet</code></p>

<h3><a href="http://manticore.2y.net/prj/clines-a.html">clines</a></h3>

<p>Clines is a standard "Lines" game, implemented as a curses application.</p>

<h3><a href="https://github.com/veselov/clines">clines</a></h3>

<p>Color Lines clone in console.</p>

<h3><a href="https://gitlab.com/esr/open-adventure">Open Adventure</a></h3>

<p>Colossal Cave Adventure (also known as ADVENT, Colossal Cave, or Adventure) is one of the earliest computer adventure games and a precursor form of role playing video game. The original version was designed by Will Crowther, a programmer and caving enthusiast who based the layout on part of the Mammoth Cave system in Kentucky.</p>

<h3><a href="None">Checkers</a></h3>

<p>a two-player board game, written by Alexi</p>

<p><strong>Play</strong>: <code>telnet mud.darkerrealms.org 2000</code></p>

<h3><a href="None">Connect Four</a></h3>

<p>a two-player slot game, written by Sarac</p>

<p><strong>Play</strong>: <code>telnet mud.darkerrealms.org 2000</code></p>

<h3><a href="https://github.com/badescunicu/connect4">connect4</a></h3>

<p>The Connect4 game using ncurses C library.</p>

<h3><a href="http://sourceforge.net/projects/gnu-conquest/">gnu-conquest</a></h3>

<p>A multiplayer galactic game.</p>

<h3><a href="http://radscan.com/conquest.html">conquest</a></h3>

<p>a real-time, multi-player space warfare game.</p>

<p><strong>Play</strong>: <code>telnet mud.darkerrealms.org 2000</code></p>

<h3><a href="http://david.weekly.org/othello/index.php3">othello</a></h3>

<p>a two-player board game, written by Unk</p>

<p><strong>Play</strong>: <code>telnet mud.darkerrealms.org 2000</code></p>

<h3><a href="http://www.corewar.info/">corewar</a></h3>

<p>Core War is a programming game created by D. G. Jones and A. K. Dewdney in which two or more battle programs (called â€œwarriorsâ€) compete for control of a virtual computer.</p>

<h3><a href="http://cpat.sourceforge.net/">cpat</a></h3>

<p>CPat is probably the best card game for the Linux console; it is a collection of many solitaire/patience games from the most famous to less known games.</p>

<h3><a href="http://hackl.dhs.org/ctris/">ctris</a></h3>

<p>Another version of the tetris game.</p>

<h3><a href="http://www.uberwall.org/~dash/">cursedmate</a></h3>

<p>A game with a hacking atmosphere.</p>

<h3><a href="http://crawl.develz.org/wordpress/">crawl</a></h3>

<p>One of the best games for the Linux console.</p>

<h3><a href="http://man.openbsd.org/OpenBSD-current/man6/cribbage.6">cribbage</a></h3>

<p>The card game cribbage. It's a BSD game.</p>

<p>See also <a href="https://en.wikipedia.org/wiki/Cribbage">wikipedia</a>.</p>

<h3><a href="https://code.google.com/p/cryptrover/">cryptrover</a></h3>

<p>Escape From The Crypt.</p>

<h3><a href="http://a-nikolaev.github.io/curseofwar/">curse-of-war</a></h3>

<p>Curse of War is a fast-paced action strategy game for Linux originally implemented using ncurses user interface.</p>

<h3><a href="http://netbsd.gw.com/cgi-bin/man-cgi?dab+6+NetBSD-6.0">dab</a></h3>

<p>Dots and Boxes game.</p>

<h3><a href="http://diablo.chaosforge.org/">diablorl</a></h3>

<p>DiabloRL is a roguelike "unmake" of the popular Blizzard game Diablo.</p>

<h3><a href="http://sourceforge.net/projects/duelcommander/">duel commander</a></h3>

<p>Duel Commander is a turn based command line fighting game for Windows and Unix-like systems.</p>

<h3><a href="http://doom.chaosforge.org">doomrl</a></h3>

<p>DoomRL (Doom, the Roguelike) is a fast and furious coffee-break Roguelike game, that is heavily inspired by the popular FPS game Doom by ID Software.</p>

<h3><a href="http://dopewars.sourceforge.net/">dopewars</a></h3>

<p>A funny game about trading drugs. Dopewars is a free rewrite of a game originally based on Drug Wars by John E. Dell.</p>

<p><strong>Play</strong>: <code>telnet or ssh on sdf.org</code></p>

<h3><a href="https://feld.me/pub/vga_cardgames-1.3.1.tgz">dsol</a></h3>

<p>dSol is a command line solitaire card game.</p>

<h3><a href="http://www.dungeoncrawl.org/">dungeon crawl</a></h3>

<p>Dungeon Crawl, a text-based roguelike game.</p>

<h3><a href="http://www.bay12games.com/dwarves/">dwarf fortress</a></h3>

<p>Dwarf Fortress is a single-player fantasy game.</p>

<h3><a href="http://www.chiark.greenend.org.uk/~sgtatham/enigma/">enigma</a></h3>

<p>A puzzle game where items have to be collected in the right order.</p>

<h3><a href="http://www.emacswiki.org/emacs/CategoryGames">emacs</a></h3>

<p>Actually it is not a game, but text editor. It includes a bunch of text games like chess, sokoban, pong etc.</p>

<h3><a href="http://eyangband.sourceforge.net/">eyangband</a></h3>

<p>Another variant of Angband.</p>

<h3><a href="http://www.roguebasin.com/index.php?title=Encircled">encircled</a></h3>

<p>Encircled is a roguelike game.</p>

<h3><a href="http://man.openbsd.org/factor.6">factor</a></h3>

<p>factor a number, generate primes</p>

<p>See also <a href="https://en.wikipedia.org/wiki/Factorization">wikipedia</a>.</p>

<h3><a href="http://man.openbsd.org/OpenBSD-current/man6/fish.6">fish</a></h3>

<p>Play ``Go Fish''. It's a BSD game.</p>

<p>See also <a href="https://en.wikipedia.org/wiki/Go_Fish">wikipedia</a>.</p>

<h3><a href="http://man.openbsd.org/fortune.6">fortune</a></h3>

<p>print a random, hopefully interesting, adage</p>

<p>See also <a href="https://en.wikipedia.org/wiki/Fortune_%28Unix%29">wikipedia</a>.</p>

<h3><a href="http://www.linusakesson.net/software/freecell.php">freecell</a></h3>

<p>This is a console (ncurses) version of the popular and addictive solitaire game.</p>

<p><strong>Play</strong>: <code>telnet mud.darkerrealms.org 2000</code></p>

<h3><a href="http://sourceforge.net/projects/fkmines/">fkmines</a></h3>

<p>Another minesweeper-style game.</p>

<h3><a href="https://code.google.com/p/freesweep/">freesweep</a></h3>

<p>minesweeper game using curses.</p>

<h3><a href="http://www.upl.cs.wisc.edu/~hartmann/sweep/">freesweep</a></h3>

<p>Freesweep is a console minesweeper-style game written in C for Unix-like systems.</p>

<h3><a href="http://frotz.sourceforge.net/">frotz</a></h3>

<p>Frotz is an interpreter for Infocom games and other Z-machine games.</p>

<h3><a href="http://frozendepths.net/">frozen depths</a></h3>

<p>A very nice roguelike game with an entertaining atmosphere.</p>

<h3><a href="http://www.catb.org/esr/galaxis/">galaxis</a></h3>

<p>Find the lost lifeboats from an interstellar liner.</p>

<h3><a href="http://www.gnu.org/software/chess/">gnuchess</a></h3>

<p>GNU Chess is a chess-playing program.</p>

<p><strong>Play</strong>: <code>telnet freechess.org 5000 (login guest)</code></p>

<h3><a href="http://sourceforge.net/projects/gnuski/">gnuski</a></h3>

<p>GNUSki is an open source clone of Skifree, the old Windows game.</p>

<h3><a href="http://www.gnu.org/software/gnugo/">gnugo</a></h3>

<p>GNU Go is a free program that plays the game of Go.</p>

<h3><a href="http://gearhead.chaosforge.org/">gearhead</a></h3>

<p>GearHead is the first roguelike to explore the world of â€œmechasâ€ (giant robots).</p>

<h3><a href="http://lightless.org/gnake">gnake</a></h3>

<p>Another variant of the snake game with a smooth movement.</p>

<h3><a href="http://man.openbsd.org/OpenBSD-current/man6/gomoku.6">gomoku</a></h3>

<p>Gomoku is a two player game where the object is to get 5 in a row horizontally, vertically or diagonally on a 19 by 19 grid. It's a BSD game.</p>

<p>See also <a href="https://en.wikipedia.org/wiki/Gomoku">wikipedia</a>.</p>

<h3><a href="https://github.com/goblinhack/goblinhack">goblinhack</a></h3>

<p>Goblin Hack is a roguelike opengl-based smooth-scrolling ASCII graphics game.</p>

<h3><a href="http://sourceforge.net/projects/gpcslots2/">gpcslots2</a></h3>

<p>An free/opensource casino text-console game with 5 slot machines, 3 roulette tables including russian roulette, 2 dice games, a bank and stock market.</p>

<h3><a href="http://man.openbsd.org/grdc.6">grdc</a></h3>

<p>grand digital clock (curses)</p>

<h3><a href="http://www.catb.org/~esr/greed/">greed</a></h3>

<p>A puzzle game with numbers. You must remove as many numbers as you can according to the rules.</p>

<p><strong>Play</strong>: <code>telnet or ssh on sdf.org</code></p>

<h3><a href="http://www.roguebasin.com/index.php?title=HackOfLife">hack of life</a></h3>

<p>The Hack of Life is a roguelike game based on Conwayâ€™s Game of Life.</p>

<h3><a href="http://man.openbsd.org/OpenBSD-current/man6/hack.6">hack</a></h3>

<p>Exploring The Dungeons of Doom. It's a BSD game.</p>

<p><strong>Play</strong>: <code>telnet or ssh on sdf.org</code></p>

<h3><a href="http://man.openbsd.org/OpenBSD-current/man6/hangman.6">hangman</a> <a href="https://asciinema.org/a/35801">Screencast</a></h3>

<p>Computer version of the game hangman. It's a BSD game.</p>

<h3><a href="http://man.openbsd.org/OpenBSD-current/man6/hunt.6">hunt</a></h3>

<p>The object of the game hunt is to kill off the other players. There are no rooms, no treasures, and no monsters. Instead, you wander around a maze, find grenades, trip mines, and shoot down walls and players. It's a BSD game.</p>

<p><strong>Play</strong>: <code>telnet or ssh on sdf.org</code></p>

<h3><a href="http://mbays.sdf.org/hunt-ng/">hunt-ng</a></h3>

<p>A fork of BSD hunt with colour and realtime processing</p>

<p><strong>Play</strong>: <code>ssh hunt@sshgames.thegonz.net; password: kalte</code></p>

<h3>hrd</h3>

<p>the puzzle game of HuaRongDao</p>

<h3><a href="http://sourceforge.net/projects/hinversi/">hinversi</a></h3>

<p>Hinversi is a implementation of Reversi (a.k.a. Othello), a board game.</p>

<h3><a href="https://github.com/blt/hamurabi">hamurabi</a></h3>

<p>Hamurabi is a 1969 text-based game of land and resource management and is one of the earliest computer games. Its name is a shortening of Hammurabi, reduced to fit an eight-character limit.</p>

<p>See also <a href="https://en.wikipedia.org/wiki/Hamurabi">wikipedia</a>.</p>

<h3><a href="http://www.mikkolehtinen.net/mist/">halls of mist</a></h3>

<p>A nice roguelike game (variant of angband).</p>

<h3><a href="http://freecode.com/projects/hellband">hellband</a></h3>

<p>Hellband is a Rogue-like game in which you descend through the nine circles of Hell and find an even more dangerous Hell beyond the city of Dis.</p>

<h3>hydra slayer</h3>

<p>A nice and easy roguelike game.</p>

<h3><a href="http://ninvaders.sourceforge.net/">ninvaders</a></h3>

<p>nInvaders is a Space Invaders clone based on ncurses for ASCII output.</p>

<p><strong>Play</strong>: <code>telnet or ssh on sdf.org</code></p>

<h3><a href="https://github.com/macdice/ascii-invaders">ascii-invaders</a> <a href="https://asciinema.org/a/34018">Screencast</a></h3>

<p>An ASCII-art game like Space Invaders</p>

<p><strong>Play</strong>: <code>telnet or ssh on sdf.org</code></p>

<h3><a href="http://mbays.sdf.org/intricacy/">intricacy</a></h3>

<p>A game of competitive puzzle-design. At its core, this is an abstract turn-based puzzle game in which you pick a lock by co-ordinating a pair of tools to manipulate its mechanism. The locks you pick are designed by other players; once you have figured out the secret of how to pick a lock, you must secure that secret behind a lock of your own devising.</p>

<p><strong>Play</strong>: <code>ssh intricacy@sshgames.thegonz.net; password: intricacy</code></p>

<h3><a href="https://empiredirectory.net/">imperium</a></h3>

<p>Imperium is a game of intergalactic exploration, warfare, and economics. Imperium has no set goal, and fairly flexible rules about what you can do, thus, while a single player could run their own game just for the fun of exploration, they would be missing out on most of the aspects of the game with no one to compete against.</p>

<h3><a href="http://mbays.sdf.org/lagrogue/">lagrogue</a></h3>

<p>Roguelike in which your commands are enacted after a few turns' delay.</p>

<p><strong>Play</strong>: <code>ssh lagrogue@sshgames.thegonz.net; password: lag</code></p>

<h3><a href="http://netbsd.gw.com/cgi-bin/man-cgi/man?larn+6+NetBSD-current">larn</a></h3>

<p>Exploring the caverns of Larn. It's a BSD game.</p>

<h3><a href="http://lord.lordlegacy.com/">Legend of the Red Dragon</a></h3>

<p>Legend of the Red Dragon (LORD) is a text-based online role-playing game.</p>

<p>See also <a href="https://en.wikipedia.org/wiki/Legend_of_the_Red_Dragon">wikipedia</a>.</p>

<p><strong>Play</strong>: <code>telnet darkrealms.ca</code></p>

<h3><a href="http://keeperrl.com/">keeperrl</a></h3>

<p>Ambitious dungeon simulator with roguelike elements.</p>

<h3><a href="http://lcs.wikidot.com/start">liberal crime squad</a></h3>

<p>This is a very elaborated game where you have to fight with your friends against conservative laws.</p>

<h3><a href="None">Let it Ride</a></h3>

<p>a multi-player card game, written by Hero</p>

<p><strong>Play</strong>: <code>telnet mud.darkerrealms.org 2000</code></p>

<h3><a href="http://www.kyne.com.au/~mark/software/lexter.php">lexter</a> <a href="https://asciinema.org/a/35970">Screencast</a></h3>

<p>Lexter is a real-time word puzzle for text terminals. Arrange the falling letters into words to score points.</p>

<h3><a href="http://shh.thathost.com/pub-unix/#Mancala">mancala</a></h3>

<p>Implementation of the simple board game called Mancala.</p>

<h3>manhunt</h3>

<p><strong>Play</strong>: <code>telnet on twenex.org</code></p>

<h3><a href="http://web.archive.org/web/20071226080243/http://bachue.com/matanza/">matanza</a></h3>

<p>Space ascii war game.</p>

<h3><a href="http://www.mangband.org/">mangband</a></h3>

<p>This is a multiplayer variant of angband.</p>

<h3><a href="http://sourceforge.net/projects/mastermind-nc/">mastermind-nc</a></h3>

<p>A simple version of the Mastermind game.</p>

<h3><a href="http://www.filewatcher.com/m/dr_mario.tar.Z.13249-0.html">Dr. Mario</a></h3>

<p>Dr. Mario or BUGS is a clone of Nentendoâ€™s Dr. Mario, well sort of.</p>

<p>See also <a href="https://en.wikipedia.org/wiki/Dr._Mario">wikipedia</a>.</p>

<h3>mgt</h3>

<p>Go is an ancient oriental strategy game based on the capturing of territory.</p>

<h3><a href="https://github.com/mogria/msnake">msnake</a> <a href="https://asciinema.org/a/35971">Screencast</a></h3>

<p>A simple snake game written in C using the ncurses library.</p>

<h3><a href="http://freshmeat.net/projects/micro-snake">microsnake</a></h3>

<p>Micro Snake is based on a simple snake game by Simon Huggins.</p>

<h3><a href="http://man.openbsd.org/OpenBSD-current/man6/mille.6">mille</a></h3>

<p>A racing card game in BSD games based on the Parker Brothers game Mille Bornes. It's a BSD game.</p>

<h3><a href="http://www.filewatcher.com/m/miscom.tar.gz.93995-0.html">miscom</a></h3>

<p>A curses-based game where you must defend cities from missile attack. Itâ€™s essentially a clone of Atariâ€™s â€œMissile Commandâ€ (with some minor enhancements) for terminals, and has colour and sound.</p>

<h3><a href="http://www-math.bgsu.edu/~grabine/moria.html">moria</a></h3>

<p>The game is set in Moria and the goal is to kill off the balrog.</p>

<h3><a href="http://www.mipmip.org/C_games/">moo</a></h3>

<p>Moo (a.k.a. Mastermind) supervisor and a very powerful Moo player.</p>

<h3><a href="http://www.filewatcher.com/m/monoUSA2.0.tgz.24322-0.html">monousa</a></h3>

<p>A sort of monopoly game. At least two players are needed.</p>

<h3><a href="http://man.openbsd.org/OpenBSD-current/man6/monop.6">monop</a></h3>

<p>Monopoly game. It's a BSD game.</p>

<h3><a href="http://seehuhn.de/pages/moon-buggy">moon-buggy</a> <a href="https://asciinema.org/a/34071">Screencast</a></h3>

<p>Moon-buggy is a simple character graphics game where you drive some kind of car across the moon's surface.</p>

<p><strong>Play</strong>: <code>telnet or ssh on sdf.org</code></p>

<h3><a href="http://www.roguebasin.com/index.php?title=Mutant_Aliens!">mutant aliens</a></h3>

<p>Mutant Aliens! sees a spaceship 'dock safely' into the forest of a hostile alien world.</p>

<h3><a href="http://myman.sourceforge.net/">myman</a></h3>

<p>MyMan is a video game for color and monochrome text terminals in the genre of Namco's Pac-Man.</p>

<h3><a href="http://freecode.com/projects/n2048">n2048</a> <a href="https://asciinema.org/a/35973">Screencast</a></h3>

<p>n2048 is a console-based game based on the highly addictive sliding puzzle 2048. Slide the tiles together to combine them, until you reach the highest one.</p>

<h3><a href="https://github.com/mikepierce/ncLife">nclife</a></h3>

<p>Conway's Game of Life in C++ using ncurses.</p>

<h3><a href="http://www.nethack.org/">nethack</a> <a href="https://asciinema.org/a/34687">Screencast</a></h3>

<p>NetHack is a single player dungeon exploration game that runs on a wide variety of computer systems, with a variety of graphical and text interfaces all using the same game engine.</p>

<p><strong>Play</strong>: <code>telnet on nethack.alt.org</code></p>

<h3><a href="http://ftp.fr.openbsd.org/pub/OpenBSD/distfiles/">netris</a></h3>

<p>This is netris, a networked version of t*tris. It allows head to head two player games via a network.</p>

<h3><a href="http://nettoe.sourceforge.net/">nettoe</a> <a href="https://asciinema.org/a/35969">Screencast</a></h3>

<p>netToe is a Tic Tac Toe-like game for the Unix consoles written in C using UNIX sockets.</p>

<h3><a href="http://www.earth.li/projectpurple/progs/nibbles.html">nibbles</a></h3>

<p>Nibbles is a remake of the classic Snake/Nibbles game in ncurses.</p>

<h3><a href="http://freecode.com/projects/nlarn">nlarn</a></h3>

<p>NLarn is an enhanced and improved rewrite of the historic roguelike game Larn. It tries to maintain the atmosphere and story of the last version of Larn (12.3) while improving gameplay and the user experience.</p>

<h3><a href="http://npush.sourceforge.net/">npush</a></h3>

<p>nPush is a logic game similar to Sokoban and Boulder Dash.</p>

<h3><a href="http://sourceforge.net/projects/nsnake/">nsnake</a> <a href="https://asciinema.org/a/35976">Screencast</a></h3>

<p>Classic snake game on the terminal.</p>

<h3><a href="http://sourceforge.net/projects/nsuds/">nsuds</a></h3>

<p>A very elaborated sudoku game.</p>

<h3><a href="https://www.tbmatuka.com/nsudoku/">nsudoku</a> <a href="https://asciinema.org/a/34688">Screencast</a></h3>

<p>A Sudoku game for the console.</p>

<h3><a href="http://jubalh.github.io/nudoku/">nudoku</a> <a href="https://asciinema.org/a/34070">Screencast</a></h3>

<p>ncurses based sudoku game</p>

<h3><a href="http://www.alcyone.com/max/projects/omega/">omega</a></h3>

<p>omega is a complex rogue-style game of dungeon exploration.</p>

<h3><a href="http://www.mipmip.org/C_games/">ox3d</a></h3>

<p>An aggressive 3D Noughts &amp; Crosses player, developed in 1976. The player incorporates the knowledge of the three-in-a-plane forcing patterns and quite spontaneously discovered that plane-forks are deadlier than one would have thought. It can offer suggestions and can be made to play against itself.</p>

<h3><a href="http://freecode.com/projects/okiworld">okiworld</a></h3>

<p>okiworld is a host-to-host console-based strategy game.</p>

<h3><a href="http://culot.org/public/Code/oldrunner.html">oldrunner</a></h3>

<p>Oldrunner is a remake of Broderbundâ€™s Loderunner which contains the 150 original game levels. It is written in C and has a text-based interface.</p>

<h3><a href="http://slaout.linux62.org/pacman/index.html">pacman</a> <a href="https://asciinema.org/a/34686">Screencast</a></h3>

<p>It's a simple and ASCII version, so no fun (and IA is very stupid)...</p>

<p><strong>Play</strong>: <code>https://www.google.com/doodles/30th-anniversary-of-pac-man</code></p>

<h3><a href="http://freecode.com/projects/asciipacman/">pacman</a></h3>

<p>ASCII Pacman is a simple clone of the Pacman game. It features color and animation using only the curses library.</p>

<h3><a href="https://sites.google.com/site/doctormike/pacman.html">pacman</a> <a href="https://asciinema.org/a/34685">Screencast</a></h3>

<p>Pacman for Console.</p>

<h3><a href="http://antimirov.net/it/pacman/">pacman</a></h3>

<p>A simple version of the famous pacman game written in Python.</p>

<p><strong>Play</strong>: <code>ssh pacman:pacman@antimirov.net</code></p>

<h3>petris</h3>

<p>Another tetris clone.</p>

<h3><a href="http://man.openbsd.org/OpenBSD-current/man6/phantasia.6">phantasia</a></h3>

<p>An interterminal fantasy game. It's a BSD game.</p>

<h3><a href="None">pinochle</a></h3>

<p>a three-player card game, written by Sarac.</p>

<p><strong>Play</strong>: <code>telnet mud.darkerrealms.org 2000</code></p>

<h3><a href="http://bilious.homelinux.org/~paxed/plonx/">plonx</a></h3>

<p>Small ASCII puzzle game.</p>

<h3><a href="None">Poker</a></h3>

<p>a multi-player five-card draw, written by Lucifer</p>

<p><strong>Play</strong>: <code>telnet mud.darkerrealms.org 2000</code></p>

<h3><a href="http://www.filewatcher.com/m/gnupong-0.14.tar.gz.32541-0.html">pong</a></h3>

<p>An old and very poor version of the old pong game.</p>

<h3><a href="http://www.increpare.com/2008/11/portile/">portile</a></h3>

<p>Portile is a 2D, tile-based take on narbacular drop.</p>

<h3><a href="None">Scrabble</a></h3>

<p>a two-to-four-player board game, written by Unk</p>

<p><strong>Play</strong>: <code>telnet mud.darkerrealms.org 2000</code></p>

<h3><a href="None">Sgt. Major</a></h3>

<p>a four-player card game, written by Lucifer</p>

<p><strong>Play</strong>: <code>telnet mud.darkerrealms.org 2000</code></p>

<h3><a href="http://users.cms.caltech.edu/~mvanier/hacking/gnushogi/gnushogi.html">shogi</a></h3>

<p>Japanese chess.</p>

<h3><a href="http://sshtron.zachlatta.com/">sshtron</a></h3>

<p>SSHTron is a multiplayer lightcycle game that runs through SSH.</p>

<p><strong>Play</strong>: <code>ssh sshtron.zachlatta.com</code></p>

<h3><a href="http://pyrogue.sourceforge.net/">pyro</a></h3>

<p>A roguelike written in Python; the display is smooth.</p>

<h3><a href="https://github.com/unyth/pythrees">pythrees</a></h3>

<p>Python curses homage to Threes!</p>

<h3><a href="http://freshmeat.net/projects/pytris">pytris</a></h3>

<p>pytris is a two-player networked console Tetris clone written in Python/Pyncurses.</p>

<h3><a href="http://www.bpfh.net/sysadmin/man/rr-1.html">rr</a> <a href="https://asciinema.org/a/1586">Screencast</a></h3>

<p>Russian roulette</p>

<h3><a href="http://git.b9.com/?p=reversi.git;a=summary">reversi</a></h3>

<p>A good version of the othello/reversi game written in the Lisp langugage.</p>

<h3><a href="https://github.com/dpc/rhex">rhex</a> <a href="https://asciinema.org/a/34224">Screencast</a></h3>

<p>Simple ASCII terminal hexagonal map roguelike written in Rust.</p>

<p><strong>Play</strong>: <code>ssh rhex:rhex123@rhex.dpc.pw</code></p>

<h3><a href="http://netbsd.gw.com/cgi-bin/man-cgi?rogue++NetBSD-current">rogue</a> <a href="https://asciinema.org/a/35802">Screencast</a></h3>

<p>Exploring The Dungeons of Doom. It's a BSD game.</p>

<p><strong>Play</strong>: <code>telnet or ssh on sdf.org</code></p>

<h3><a href="http://man.openbsd.org/OpenBSD-current/man6/robots.6">robots</a></h3>

<p>Fight off villainous robots. It's a BSD game.</p>

<p>See also <a href="https://en.wikipedia.org/wiki/Robots_%28BSD_game%29">wikipedia</a>.</p>

<p><strong>Play</strong>: <code>telnet or ssh on sdf.org</code></p>

<h3><a href="https://www.gnu.org/software/gnurobots/readme.html">gnu-robots</a></h3>

<p>GNU Robots is a game/diversion where you construct a program for a little robot, then watch him explore a world. The world is filled with baddies that can hurt you, objects that you can bump into, and food that you can eat. The goal of the game is to collect as many prizes as possible before are killed by a baddie or you run out of energy.</p>

<h3><a href="http://robotfindskitten.org/">robotfindskitten</a></h3>

<p>Yet another zen simulation.</p>

<h3><a href="http://man.openbsd.org/OpenBSD-current/man6/sail.6">sail</a></h3>

<p>Multi-user wooden ships and iron men. It's a BSD game.</p>

<p>See also <a href="https://en.wikipedia.org/wiki/Wooden_Ships_and_Iron_Men">wikipedia</a>.</p>

<h3><a href="https://joeyh.name/code/scroll/">scroll</a></h3>

<p>You're a bookworm that's stuck on a scroll. You have to dodge between words and use spells to make your way down the page as the scroll is read. Go too slow and you'll get wound up in the scroll and crushed.</p>

<h3><a href="http://www.deater.net/weave/vmwprod/seabattle.html">seabattle</a> <a href="https://asciinema.org/a/34680">Screencast</a></h3>

<p>A version of the classical battleships game.</p>

<h3><a href="http://www.earth.li/projectpurple/progs/seatris.html">seatris</a></h3>

<p>Another clone of the tetris game.</p>

<h3><a href="http://www.math.leidenuniv.nl/~mommen/scrap/">scrap</a></h3>

<p>Scrap is an easy to play roguelike game.</p>

<h3><a href="http://www.gnu.org/software/gnushogi/">shogi</a></h3>

<p>GNU Shogi is a computer program that plays the game of Shogi, also known as Japanese Chess.</p>

<h3><a href="http://www.amirrorclear.net/flowers/game/sil/">sil</a></h3>

<p>A good roguelike game.</p>

<h3><a href="http://mbays.sdf.org/simulchess">simulchess</a></h3>

<p>Simultaneous-move chess.</p>

<p><strong>Play</strong>: <code>ssh simulchess@sshgames.thegonz.net; password: simulchess</code></p>

<h3><a href="http://stardork.sourceforge.net/">stardork</a></h3>

<p>Stardork is a Linux terminal based maze game.</p>

<h3><a href="http://catb.org/~esr/ski/">ski</a></h3>

<p>A hotdogging game, evade the deadly Yeti on your jet-powered skis.</p>

<h3><a href="http://www.filewatcher.com/m/slider-1.0.c.gz.1234-0.html">slider</a></h3>

<p>A slider game.</p>

<h3><a href="http://slashem.sourceforge.net/">slashem</a></h3>

<p>Another variant of the roguelike nethack game.</p>

<h3><a href="http://man.openbsd.org/OpenBSD-current/man6/snake.6">snake</a> <a href="https://asciinema.org/a/35799">Screencast</a></h3>

<p>A quick and easy turn-based survival game; you have to move without being caught by a snake. It's a BSD game.</p>

<p><strong>Play</strong>: <code>telnet or ssh on sdf.org</code></p>

<h3><a href="ftp://ftp.simtreas.ru/pub/my/snake.c.gz">snake</a></h3>

<p>snake game</p>

<p><strong>Play</strong>: <code>telnet or ssh on sdf.org</code></p>

<h3><a href="https://github.com/begoon/stuff/blob/master/games/snake/c%2B%2B/snake.cpp">snake</a> <a href="https://asciinema.org/a/1715">Screencast</a></h3>

<p>snake game</p>

<h3><a href="http://www.cs.cmu.edu/~trb/soccer/">soccer</a></h3>

<p>ASCII Soccer is a tool for investigating how groups of simple agents interact while playing a soccer-like game.</p>

<h3><a href="http://sourceforge.net/projects/sst2k/">sst2k</a></h3>

<p>Super Star Trek â€” a classic computer game</p>

<h3><a href="ftp://ftp.simtreas.ru/pub/download/pusher.tar.gz">sokoban</a></h3>

<p>Sokoban is a logical game, where U must solve problems with pushing packets in labirints. The problem is to push packets to saving positions by moving around and pushing only one packet at a time if possible.</p>

<p><strong>Play</strong>: <code>telnet or ssh on sdf.org</code></p>

<h3><a href="http://www.filewatcher.com/m/sokoban-src.tar.gz.16287-0.html">sokoban</a></h3>

<p>A fully playable version of the sokoban game, but a little hacking has to be done.</p>

<p><strong>Play</strong>: <code>telnet or ssh on sdf.org</code></p>

<h3><a href="http://spacezero.sourceforge.net/">spacezero</a></h3>

<p>SpaceZero is a Real Time Strategy 2D space combat game for two players over a network.</p>

<h3><a href="http://www.sporkhack.com/">sporkhack</a></h3>

<p>SporkHack, at sporkhack.com, is a variant of Nethack 3.4.3 by Derek Ray aimed at game balance.</p>

<h3><a href="http://www.barnsdle.demon.co.uk/game/starlanes.html">starlanes</a></h3>

<p>Starlanes is a game of interstellar commerce for 1 to 4 players.</p>

<h3><a href="ftp://ftp.simtreas.ru/pub/download/add/TREK.tgz">startrek</a></h3>

<h3><a href="http://angband.oook.cz/steamband/steamband.html">steamband</a></h3>

<p>Steamband is a roguelike ASCII dungeon exploration simulation game.</p>

<h3><a href="http://www.mipmip.org/C_games/">sumeria</a></h3>

<p>This is the good old â€œGovern Ancient Sumeriaâ€, with a 1983 ecology re-write.</p>

<h3><a href="http://www.ibiblio.org/pub/linux/games/textrpg">taipan</a></h3>

<p>Modern version of Art Canfil's classic, Taipan.</p>

<h3><a href="http://www.filewatcher.com/m/tictac4-1.0.tar.gz.14413-0.html">tictac4</a></h3>

<p>A tic-tac-toe variant where you have to align four symbols (instead of three).</p>

<h3><a href="https://common-lisp.net/project/lifp/sewers.htm">the sewer massacre</a></h3>

<p>A roguelike game written in Lisp.</p>

<h3><a href="http://man.openbsd.org/OpenBSD-current/man6/tetris.6">tetris</a></h3>

<p>The game of tetris. It's a BSD game.</p>

<p>See also <a href="https://en.wikipedia.org/wiki/Tetris">wikipedia</a>.</p>

<h3><a href="http://www.michaelcw.com/projects_coding.html">tetris</a></h3>

<p>ASCII Tetris</p>

<h3><a href="https://github.com/chtisgit/text2048">text2048</a></h3>

<p>This is an ncurses version of the game '2048'.</p>

<h3><a href="http://www.cavein.org/~chris/code/tower/">tower of mediocrity</a></h3>

<p>A tower defense game. Unfortunately, the game is quite easy to win.</p>

<h3><a href="http://www.deater.net/weave/vmwprod/tb1/">tom bombem</a></h3>

<p>An arcade game where you have to shoot on inanimate objects.</p>

<h3><a href="http://www.filewatcher.com/m/torus-src.tar.gz.13425-0.html">torus</a></h3>

<p>A variant of the robots game.</p>

<p><strong>Play</strong>: <code>telnet or ssh on sdf.org</code></p>

<h3><a href="http://www.miketaylor.org.uk/tech/tt/#gsc.tab=0">tt</a></h3>

<p>Tetris for Terminals is another, very old, clone of tetris.</p>

<h3><a href="https://common-lisp.net/project/lifp/rouge.htm">the rougelike!</a></h3>

<p>The Rougelike! is a roguelike game.</p>

<h3><a href="https://github.com/Gregwar/ASCII-Tetris">ascii-tetris</a></h3>

<p>ASCII Tetris game written in C</p>

<h3><a href="http://freecode.com/projects/tetrix">tetrix</a></h3>

<p>A UNIX-hosted, curses-based clone of Tetris.</p>

<h3><a href="https://github.com/mpereira/tty-solitaire">tty-solitaire</a> <a href="https://asciinema.org/a/6519">Screencast</a></h3>

<p>ncurses-based klondike solitaire game.</p>

<p><strong>Play</strong>: <code>telnet mud.darkerrealms.org 2000</code></p>

<h3><a href="http://www.kermitmurray.com/trek73/">trek73</a></h3>

<p>An old but rather elaborated game inspired by the Star Trek series.</p>

<h3><a href="http://man.openbsd.org/OpenBSD-current/man6/trek.6">trek</a></h3>

<p>Trekkie game. It's a BSD game.</p>

<p>See also <a href="https://en.wikipedia.org/wiki/Star_Trek_%28text_game%29">wikipedia</a>.</p>

<h3><a href="https://github.com/JohnAnthony/TROG">trog</a></h3>

<p>a roguelike game with simple commands.</p>

<h3><a href="https://kiza.eu/software/tornado/">tornado</a></h3>

<p>Tornado is the clone of a C64 game.</p>

<h3><a href="https://github.com/harshjv/threes-c">threes</a> <a href="https://asciinema.org/a/18135">Screencast</a></h3>

<p>Threes!</p>

<h3><a href="http://oasis.frogfoot.net/code/tint/">tint</a></h3>

<p>Tint Is Not Tetris, a ncurses based clone of the original Tetris(tm) game.</p>

<h3><a href="http://www.filewatcher.com/m/tictac2-0.6.tgz.34988-0.html">tictactoe</a></h3>

<p>Tic Tac Toe game</p>

<h3><a href="http://www.happyponyland.net/the-slimy-lichmummy">tsl</a></h3>

<p>The Slimy Lichmummy is a difficult roguelike in a traditional style.</p>

<h3><a href="http://freecode.com/projects/tzar">tzar</a></h3>

<p>A roguelike game.</p>

<h3><a href="http://sourceforge.net/projects/unnethack/">unnethack</a></h3>

<p>The first game in this roundup is UnNetHack, a fork of NetHack, originally based on the hugely popular roguelike game NetHack.</p>

<h3><a href="ftp://ftp.simtreas.ru/pub/my/vagabondo.c.gz">vagabondo</a></h3>

<h3><a href="http://victornils.net/tetris/">vitetris</a> <a href="https://asciinema.org/a/34069">Screencast</a></h3>

<p>vitetris is a terminal-based Tetris clone by Victor Nilsson. Gameplay is much like the early Tetris games by Nintendo.</p>

<h3><a href="http://www.catb.org/~esr/vms-empire/">vms-empire</a></h3>

<p>Empire is a simulation of a full-scale war between two emperors, the computer and you.</p>

<h3><a href="http://www.jwm-art.net/dark.php?p=XorCurses">xorcurses</a> <a href="https://asciinema.org/a/34065">Screencast</a></h3>

<p>XorCurses is a puzzle game set inside a series of mazes.</p>

<h3><a href="http://sourceforge.net/projects/zis/">zis</a></h3>

<p>Zionist In Space, a text-mode (curses) multiplayer game like Konquest (a turn based strategy; you send ships from planet to planet to conquer them).</p>

<h3><a href="http://www.zangband.org/">zangband</a></h3>

<p>One of the best roguelike games for the console.</p>

<h3><a href="http://zapm.org/">zapm</a></h3>

<p>Zapm is a science fiction roguelike game by Cyrus Dolph.</p>

<h3><a href="http://sheep.art.pl/Z-Day">z-day</a></h3>

<p>Z-Day is an easy to play roguelike game. You have to kill zombies in a supermarket.</p>

<h3><a href="http://sourceforge.net/projects/znake-ulven/">znake</a></h3>

<p>Just a simple colorful clone of the famous game Snake but with an extraordinary feature. Do you know the Soviet Russia meme by Smirnoff? Try to imagine if you don't eat the food but the food eats you.</p>

<h3><a href="http://ibiblio.org/pub/linux/games/arcade/">ztrack</a></h3>

<p>Ztrack is a (very) simple curses-based pseudo-3D driving game.</p>

<h3><a href="http://www.csd.uwo.ca/Infocom/games.html">zork I, II, III</a></h3>

<p>An old game by Infocom.</p>

<p><strong>Play</strong>: <code>telnet or ssh on sdf.org</code></p>

<h3><a href="http://www.thistledown.com.au/software/">zombies</a></h3>

<p>Zombies is a simple curses-based game in the same style as robots.</p>

<p><strong>Play</strong>: <code>telnet or ssh on sdf.org</code></p>

<h3><a href="http://distractionandnonsense.com/zombies/">zombies!</a></h3>

<p>Zombies! is a roguelike written entirely from scratch, in one day, in Common Lisp.</p>

<h3><a href="http://telehack.com/telehack.html">Z-Code games</a></h3>

<p>z-code games</p>

<p>See also <a href="https://en.wikipedia.org/wiki/Z-machine">wikipedia</a>.</p>

<p><strong>Play</strong>: <code>telnet telehack.com (or http://telehack.com/)</code></p>

<h3><a href="http://freecode.com/projects/zracer">zracer</a></h3>

<p>ZRacer is a console car racing game. It has a curses based semi-graphical interface, a random track generator, editable settings, and supports hotseat multiplayer. The rules are simple: the higher on the screen, the faster you ride. Don't crash into rocks, curbs, or your opponent, and be the first across the finish line.</p>

<h3><a href="https://github.com/shmup/wander">Wander</a></h3>

<p>Wander was probably the first computer game that is recognisable as what came to be known as a â€œtext adventureâ€.</p>

<p><strong>Play</strong>: <code>https://s3.amazonaws.com/wander1974/wander.html</code></p>

<h3>wargames</h3>

<p>Would you like to play a game?</p>

<p>See also <a href="https://en.wikipedia.org/wiki/WarGames">wikipedia</a>.</p>

<h3><a href="http://www.e271.net/~marina/wanderer.html">wanderer</a></h3>

<p>Wanderer is a game similar to Boulderdash, Repton, XOR and others.</p>

<p><strong>Play</strong>: <code>telnet or ssh on sdf.org</code></p>

<h3><a href="http://www.filewatcher.com/m/wallyplus-0.1.2.tar.gz.520621-0.html">wallyplus</a></h3>

<p>A game for playing go.</p>

<h3><a href="http://www.catb.org/esr/wumpus/">wumpus &amp; superhack</a></h3>

<p>A version of the very old game called Hunt the Wumpus by Eric Raymond. A joke version called â€œsuperhackâ€ is included in the archive.</p>

<h3><a href="http://man.openbsd.org/OpenBSD-current/man6/worm.6">worm</a></h3>

<p>A version of the arcade game worm (sometimes called snake or nibbles). It's a BSD game.</p>

<p><strong>Play</strong>: <code>telnet on twenex.org</code></p>

<h3><a href="http://man.openbsd.org/OpenBSD-current/man6/wump.6">wump</a> <a href="https://asciinema.org/a/35800">Screencast</a></h3>

<p>Hunt the wumpus in an underground cave. It's a BSD game.</p>

<p>See also <a href="https://en.wikipedia.org/wiki/Hunt_the_Wumpus">wikipedia</a>.</p>

<h3><a href="http://www.filewatcher.com/m/yahtzee-src.tar.Z.15889-0.html">yahtzee</a></h3>

<p>A very nice yahtzee game where you can play against humans or against the computer (including several different opponents).</p>

<h3><a href="http://www.filewatcher.com/m/colour-yahtzee.tgz.36120-0.html">yahtzee-color</a></h3>

<p>A very nice yahtzee game where you can play against humans or against the computer (including several different opponents).</p>

<h3><a href="http://freecode.com/projects/yuxtapa">yuxtapa</a></h3>

<p>is a multiplayer real-time CLI game.</p>

<h3><a href="http://alexdantas.github.io/yetris/">yetris</a></h3>

<p>yetris is a customizable Tetris(tm) clone for the console.</p>

<h3><a href="http://www.roguetemple.com/z/vapors/">vapors of insanity</a></h3>

<p>Vapors of Insanity is a roguelike game set on a paradise island of Fortarica.</p>

<h3><a href="https://code.google.com/p/vadorz/">vadorz</a></h3>

<p>Another space invaders game with simple graphics.</p>

<h3><a href="http://remarque.org/~grabiner/moria.html">umoria</a></h3>

<p>An old and easy to play roguelike game.</p>

<h3>ularn</h3>

<p>An easy to play roguelike game.</p>

<h3><a href="http://rogue.rogueforge.net/ultrarogue-1-07/">ultrarogue</a></h3>

<p>Another variant of Rogue.</p>

<h3><a href="https://common-lisp.net/project/lifp/sewers.htm">urban warfare</a></h3>

<p>A roguelike game written in Lisp.</p>

<h3><a href="https://github.com/Tiehuis/2048-cli">2048-cli</a> <a href="https://asciinema.org/a/34067">Screencast</a></h3>

<p>A cli version of the game 2048 for your Linux terminal.</p>

<h3><a href="https://github.com/beejjorgensen/conquest">Conquest</a></h3>

<p>Port of the old Amiga Conquest text-based game</p>
